<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="css/bootstrap.css"/>
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</head>
<body ng-controller="TableController">

	<div class="container">
	<div class="row">
		<div class="col-xs-12">
	
	<a href="#excel" class="btn btn-success" ng-click="exportToExcel()">Export to Excel</a>	
	<a href="#toggleAll" class="btn btn-success" ng-click="toggleAllTables()">Toggle All Tables</a>
	<input ng-model="searchTable" placeholder="Filter Tables" class="form-control"/>
	<input ng-model="searchField" placeholder="Filter Fields" class="form-control"/>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Table</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="table in tables | filter:searchTable">
			<td>
				<input type="checkbox" ng-model="table.selected" ng-click="selectTable($index);toggleTable($index)"/>
				<a class="table-name" href="#{{table.name}}" ng-click="toggleTable($index)">{{table.name}}</a>
				<table class="table table-striped" ng-show="table.show">
					<thead>
						<tr>
							<th>Database Field</th>
							<th>Excel Column</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="column in table.columns | filter:searchField">
							<td>
								<input type="checkbox" ng-model="column.selected" ng-click="selectColumn(table, $index)"/> <b>{{column.name}}</b>
								<span class="initialism">{{column.typeName}}({{column.size}})</span>
							</td>
							<td>
								<input type="text" class="form-control" ng-model="column.excelColumnName"/>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
		</div>
	</div>
	</div>
	
</body>
</html>