<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="css/bootstrap.css"/>
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<style>
	img.busy {
		width: 17px;
	}
	.toolbox {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 200px;
	}
	.toolbox input {
		margin-bottom : 5px;
	}
	table table {
		margin-left: 20px;
	}
	.scroller-container {
	
		left: 180px;
		position: absolute;
/*	
		position: absolute;
		bottom: 0px;
		top: 0px;
		width: 500px;
		float: right;
		*/
	}
	.scroller {
		overflow: scroll;
		bottom: 0px;
		top: 0px;
	}
</style>
</head>
<body ng-controller="TableController">

	<div class="container">
	<div class="row">
		<div class="col-xs-3 toolbox">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Toolbox</th>
					</tr>
				</thead>
			</table>
		
			<input ng-model="searchTable" placeholder="Filter Tables" class="form-control"/>
			<input ng-model="searchField" placeholder="Filter Fields" class="form-control"/>
			<a href="#excel" class="btn btn-success btn-block" ng-click="exportToExcel()">Export to Excel</a>	
			<a href="#toggleAll" class="btn btn-success btn-block" ng-click="toggleAllTables()">Toggle All Tables</a>
			<hr/>
			<input ng-model="searchName" placeholder="Search Name" class="form-control"/>
			<a href="#saveQuery" class="btn btn-success btn-block" ng-click="saveQuery()">Save Query</a>
			<table class=table>
				<tr ng-repeat="search in searches">
					<td>
						<input name="select-search" type="radio" ng-click="selectSearch(search)"/>
						{{search.name}}
						<a href="#deleteSearch" class="pull-right" ng-click="deleteSearch(search)">&times;</a>
					</td>
				</tr>
			</table>
		</div>
	
		<div class="col-xs-9 scroller-container">
		<div class="scroller-later">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Table</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="table in tables | filter:searchTable" ng-click="toggleTable(table)">
			<td>
				<input type="checkbox" ng-model="table.selected" ng-click="selectTable(table);"/>
				<a class="table-name" href="#{{table.name}}">{{table.name}}</a>
				<img src="images/busy.gif" class="busy" ng-show="table.loading"/>
				<table class="table table-striped" ng-show="table.show">
					<thead>
						<tr>
							<th>Database Field</th>
							<th>Excel Column</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="column in table.columns | filter:searchField">
							<td>
								<input type="checkbox" id="{{table.name}}-{{column.name}}" ng-checked="table.selected" ng-model="column.selected" ng-click="selectColumn(table, $index)"/> <b>{{column.name}}</b>
								<span class="initialism">{{column.typeName}}({{column.size}})</span>
							</td>
							<td>
								<input type="text" class="form-control" ng-model="column.excelColumnName"/>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
			</div>
	
		</div>
	</div>
	</div>
	
</body>
</html>