	<div class="container">
	<div class="row">
		<div class="col-xs-3 toolbox">
			<!-- a href="#toggleAll" class="btn btn-success btn-block" ng-click="toggleAllTables()" ng-model="allTablesExpanded">Toggle All Tables</a>
			<a href="#toggleAll" class="btn btn-success btn-block" ng-click="toggleAllTables()" ng-model="allTablesExpanded">Toggle All Tables</a-->
  			<select ng-model="currentDataSource" ng-options="dataSource.name for dataSource in dataSources" ng-change="selectDataSource()" class="form-control" title="Select data source">
  			</select>
			<input ng-model="searchTable" placeholder="Filter Tables" class="form-control"/>
			<input ng-model="searchField" placeholder="Filter Fields" class="form-control"/>
			<input ng-model="searchName" placeholder="Search Name" class="form-control"/>
			<a href="#saveQuery" class="btn btn-success btn-block" ng-click="saveQuery()">Save Search</a>
			<div class="form-inline"  ng-repeat="search in searches">
				<input name="select-search" type="radio" ng-click="selectSearch(search)"/>
				<input ng-model="search.name" class="form-control" style="width:124px" ng-keypress="updateSearch(search, $event)"/>
				<a href="#deleteSearch" class="pull-right" ng-click="deleteSearch(search)">&times;</a>
			</div>
			<input type="checkbox" ng-model="tableFieldHeightTruncated" ng-click="truncateTableFieldHeight()"/>
			Truncate Fields
			
			<a href="#ignore" class="btn btn-warning btn-block" ng-click="ignoreSelectedTables()" title="Ignore selected tables below">Ignore</a>	
			<a href="#excel" class="btn btn-success btn-block" ng-click="exportToExcel()" title="Export to Excel">2 Excel</a>	
			<a href="#expandAllTables" class="btn btn-success btn-block" ng-click="expandSelectedTables()" title="Expand selected tables">&plus;</a>
			<a href="#collapseAllTables" class="btn btn-success btn-block" ng-click="collapseAllTables()" title="Collapse selected tables">&minus;</a>
			
		</div>
	
		<div class="col-xs-9 scroller-container">
		<div class="scroller-later">

	<table class="table table-striped skinny table-hover">
		<thead>
			<tr>
				<th>
					<input type="checkbox" ng-model="allTablesSelected" title="Select all tables" ng-click="selectAllTables()"/>
					Tables
				</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="table in tables | filter:searchTable | filter:searchField | filter:{ignored: false}" ng-click="toggleTable(table)">
			<td>
				<input type="checkbox" ng-model="table.selected" ng-click="selectTable(table); $event.stopPropagation();" title="Select this table"/>
				<a class="table-name" href="#{{table.name}}">{{table.name}}</a>
				<img src="images/busy.gif" class="busy" ng-show="table.loading"/>
				<div ng-style="maxHeight">
				<table class="table table-striped table-hover width95" ng-show="table.show">
					<thead>
						<tr ng-click="$event.stopPropagation();">
							<th>
								<input type="checkbox" ng-click="selectAllColumns(table); $event.stopPropagation();" ng-model="selectAllFields" title="Select all fields"/>
								Database Field
							</th>
							<th>Excel Column</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="column in table.columns | filter:searchField" ng-click="$event.stopPropagation();" title="Click to expand this table">
							<td>
								<input type="checkbox" id="{{table.name}}-{{column.name}}" ng-model="column.selected" ng-checked="selectAllFields" ng-click="selectColumn(table, $index); $event.stopPropagation();" title="Select this field"/> <b>{{column.name}}</b>
								<span class="initialism">{{column.typeName}}({{column.size}})</span>
							</td>
							<td>
								<input type="text" class="form-control" ng-model="column.excelColumnName" ng-show="false"/>
								<a href="#edit/{{column.name}}" class="btn btn-xs btn-success pull-right">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
			</div>
	
	<table class="table table-striped skinny">
		<thead>
			<tr>
				<th>
					<input type="checkbox" ng-model="allIgnoredTablesSelected" title="Select ignored tables" ng-click="selectAllIgnoredTables()"/>
					Ignored Tables
				</th>
				<th>			<a href="#unignore" class="btn btn-warning pull-right" ng-click="unignoreSelectedTables()" title="Unignore selected tables below">Unignore</a>	
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="table in tables | filter:searchTable | filter:searchField | filter:{ignored: true}">
				<td>
					<input type="checkbox" ng-model="table.selected"/> <b>{{column.name}}</b>
					{{table.name}}
				</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>
	
		</div>
	</div>
</div>